<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    hbs
    <h1>hello world</h1>
    {{#users}}
    <li>{{name}}</li>
    {{/users}}
</body>
</html>